.contecartelera {
    height: 1000px;
    width: 1100px;
    margin: 0;
    padding: 0;
    border-style: solid;
    border-radius: 20px;
    color:#EDAA25;
    margin-left: 175px;
    background-color: #CFCDBC;

}

.imagencartelera{
    height:600px ;
    width:300px ;
    border-radius: 20px;
    margin-top: 25px;
    margin-left: 25px;
}

.titucartelera-contenedor{
    font-family: "josefinsans";
    font-size: 30px;
    color: black;
    text-align: center;
}

.parrafocartelera{
    font-size: 20px;
    font-family: "opensans-regular";
    text-align: justify;
    color:black;
}